@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Ubuntu:wght@300&display=swap');
html, body{
    font-family: 'Roboto Flex', sans-serif;


}
.button{
    padding: 20px;
    margin:0 2px;
    border: solid black 2px;
    border-radius: 9px;
    cursor: pointer;
}
.row{
    margin:6px 0;
}